:root {
  --main-color: #bbbbbb;
  --borderlight: rgb(238, 238, 238);
  --borderdark: rgb(44, 44, 44);
  --borderlighterdark: rgb(109, 109, 109);
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: arial, helvetica, sans-serif;
  overflow: hidden;
  touch-action: none;
  background-color: grey;
}

#root {
  width: 100%;
  height: 100%;
}
